default:
    paths:
        features: features
    context:
        class:  Openriff\Features\FeatureContext
    extensions:
        Behat\Symfony2Extension\Extension:
            mink_driver: true
            kernel:
                env: test
                debug: true
        Behat\MinkExtension\Extension:
            selenium2:   ~
            default_session: symfony2
            javascript_session: selenium2
            show_auto: true
            show_cmd: chrome %s
        Sanpi\Behatch\Extension:
            contexts:
#                browser: ~
#                debug: ~
#                system: ~
#                json: ~
#                table: ~
                rest: ~
