parameters:
    database_driver:   pdo_pgsql
    database_host:     localhost
    database_port:     ~
    database_name:     openriff
    database_user:     postgres
    database_password: ~

    mailer_transport:  ~
    mailer_host:       ~
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    soundcloud.client_id: ~
    soundcloud.secret:    ~
