body {
    padding-top: 51px;
}

.main {
    padding-top: 20px;
}

/* Navbar niceness */
.openriff-nav {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #00334F;
  border-color: #00283E;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.openriff-nav .navbar-collapse {
  border-color: #00283E;
}
.openriff-nav .navbar-brand {
  color: #fff;
}
.openriff-nav .navbar-text {
  color: #fff;
}
.openriff-nav .navbar-image {
  height: 50px;
}
.openriff-nav .navbar-nav > li > a {
  padding-top: 9px;
  padding-bottom: 9px;
  color: #00517E;
}
.openriff-nav .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #00517E;
}
.openriff-nav .navbar-nav > .active > a,
.openriff-nav .navbar-nav > .active > a:hover {
  color: #00517E;
  background-color: #00283E;
}
.openriff-nav .navbar-toggle {
  border-color: #563d7c;
}
.openriff-nav .navbar-toggle:hover {
  background-color: #00283E;
  border-color: #00283E;
}

.play-control {
    /*border-right: 1px solid #00283E;*/
}
.play-control .progress {
    margin-bottom: 0;
}

.queue-item {
    border-top: 1px solid #00283E;
    /*border-right: 1px solid #00283E;*/
}
